/*Stijl voor algemene elementen*/
.pageTitle {
    margin-top: 0;
    font-size: 32px;
}

.widthLimiter {
    max-width: 700px;
}



/*Stijl specifiek voor de result-pagina*/
.browser {
    overflow:   auto;
    max-height: 500px;
    margin-bottom: 24px;
    padding: 24px;
    background-color: whitesmoke;
}

#overview {
    padding: 10px;
    background-color: whitesmoke;
}

div.containerBackground {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding: 24px;
    background-color: whitesmoke;
}

#nuc_seq, #prot_seq {
    word-wrap: break-word;
}

.info_text {
    margin: 20px;
    padding: 20px;
    background: white;
    font-size: 15px;
}

.info_header {
    font-weight: bold;
}


.resulthistorytable {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding: 24px;
    background-color: whitesmoke;
}

.resulthistorytablerow {
    margin: 20px;
    padding: 20px;
    background: white;
    font-size: 15px;
}

.resulthistorytabledata {
    margin: 20px;
    padding: 10px;
}

.resulthistorytableheader {
    padding: 20px;
}

/*Stijl specifiek voor de blastresult-pagina*/
.blastresult {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding: 24px;
    background-color: whitesmoke;
    word-wrap: break-word;
}

.blastvisuals {
    font-family: "Courier New", monospace;
    word-break: keep-all;
    word-wrap: unset;
    overflow:   auto;
    background-color: whitesmoke;
    white-space: nowrap;
    overflow-x: scroll;
}