div.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: fit-content;
    background-color: whitesmoke;
}

a.hamburger {
    display: flex;
    flex-direction: column;
    padding: 12px;
    height: 100%;
}
a.hamburger:hover {
    background-color: turquoise;
}

a.hamburger > div {
    margin: 2px 0;
    width: 28px;
    height: 4px;
    background-color: lightgray;
}
a.hamburger:hover > div {
    background-color: gray;
}

.titel_applicatie {
    text-decoration: none;
    font-weight: bolder;
    font-size: 24px;
    white-space: nowrap;
    color: black;
    margin: 0 auto;
}

div.navbarBreaker {
    flex-basis: 100%;
}

ul.navigatie {
    display: flex;
    flex-flow: column;
    list-style-type: none;
    margin: 0;
    padding: 16px 0;
    width: 100%;
}

ul.navigatie > li a {
    display: flex;
    padding: 10px 24px;
    text-decoration: none;
    font-weight: lighter;
    font-size: 16px;
    color: black;
}
ul.navigatie > li a:hover {
    background-color: turquoise;
}


@media (min-width: 650px) {
    div.navbar {
        flex-wrap: nowrap;
        height: 48px;
    }

    .titel_applicatie {
        margin: 0 24px;
    }

    a.hamburger {
        display: none;
    }

    div.navbarBreaker {
        display: none;
    }

    ul.navigatie {
        flex-flow: row;
        padding: 0;
        width: fit-content;
    }

    ul.navigatie > li a {
        align-items: center;
        padding: 0 12px;
        height: 48px;
    }
}
