.browser {
    overflow-x:   auto;
    overflow-y:   scroll;
}

.box {
    border:     1px solid #000000;

}

#raphael_browser {
}

.orf_browser, #overview {
    border:     1px solid #000000;
}

div.containerBackground {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding: 24px;
    background-color: whitesmoke;
}

#nuc_seq, #prot_seq {
    word-wrap: break-word;
}