html {
    height: 100%;
}

body {
    margin: 0;
    background-color: white;
    font-family: 'Segoe UI', 'Open Sans', sans-serif;
}

div.containerContent {
    margin: 12px 12px 0;
}

.flexPage {
    display: flex;
    flex-flow: column;
    height: 100%;
}
